/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.split-section {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(120deg, #231F20 50%, #FDB913 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.split-section .content h1 {
    font-size: 10rem;
    color: white;
    opacity: 0;
    transform: translateY(-100px); /* Start above the screen */
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.split-section .content h2 {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-style: italic;
    opacity: 0;
    transition: opacity 2s ease-out;
}

.split-section .pointer-down {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform:translateX(-50%);
    width: 50px;
    height: 50px;
    fill: white;
}

.about {
    background: white;
    color: #231F20;
}

.about .content {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    padding: 60px 0px;
}

/* .about .content . */

.about h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.about h3::after {
    content: '';
    display: block;
    width: 50px;
    height: 5px;
    background: #FDB913;
    margin-top: 5px;
}

.about .content .me {
    flex-basis: 60%;
}

.about .content .me p {
    margin-bottom: 25px;
    /* font-style: italic; */
    /* font-family: serif; */
    /* font-size: 20px; */
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

.about .content .me strong {
    color: #FDB913;
    font-weight: 600;
}

.about .content .me-photo {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
}

.about .content .me-photo img {
    border-radius: 50%;
    border: 5px solid #231F20;
    width: 80%;
}

.about::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: #231F20;
}

/* .about::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: #FDB913;
} */

.split-section .content h1.animate {
    opacity: 1;
    transform: translateY(0); /* Bring it back to its normal position */
}

.split-section .content h2.fade-in {
    opacity: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 2.5rem;
    text-transform: uppercase;
    background: #231F20;
}

.footer h4 {
    margin-right: 100px;
    color: #FDB913;
}

.footer .icons {
    display: flex;
}

.footer .icons a {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}

.footer svg {
    width: 100%;
}

@media (max-width: 1240px) {
    .about .content {
        width: 100%;
        flex-direction: column-reverse;
        padding: 30px;
    }

    .about .content .me {
        flex-basis: 100%;
    }

    .about .content .me-photo {
        flex-basis: 100%;
        margin-bottom: 45px;
    }
}

@media (max-width: 1024px) {
    .split-section .content h1 {
        font-size: 4rem;
    }

    .split-section .content h2 {
        font-size: 2rem;
    }
}
